<div id="canvas" (click)="canvasClicked($event)" (mousedown)="mouseDownHandler($event)" (dblclick)="canvasClick($event)">
    <svg>
      <!--cdkDrag [cdkDragDisabled]="isSelectionTool()"-->
        <g *ngFor="let shape of shapes" >

            <g [ngSwitch]="shape.shapeType"
               stroke="shape.color"
                [ngClass]="shape.isSelected ? 'shapeSelected' : '' "
                (click)="shapeClicked($event, shape)">

                <rect *ngSwitchCase = " 'rectangle' "
                    [attr.width]="shape.width"
                    [attr.height]="shape.height"
                    [attr.x]="shape.position.x"
                    [attr.y]="shape.position.y"
                    [attr.fill]="shape.color"
                    [attr.stroke]="black"
                    />

                <circle *ngSwitchCase = " 'circle' "
                    [attr.cx]="shape.position.x"
                    [attr.cy]="shape.position.y"
                    [attr.r]="shape.radius!"
                    [attr.fill]="shape.color"
                    [attr.stroke]="black"

                    />
                    <text *ngSwitchCase = " 'circle' "
                    fill="#ddd" font-size="30" font-family="Verdana"
                     [attr.x]="shape.position.x-6"
                     [attr.y]="shape.position.y+4">{{shape.id}}</text>
                     <text *ngSwitchCase = " 'rectangle' "
                     fill="#ddd" font-size="30" font-family="Verdana"
                      [attr.x]="shape.position.x-6+(shape.width)!/2"
                      [attr.y]="shape.position.y+4+(shape.height)!/2">{{shape.id}}</text>








            </g>
        </g>

         <g  *ngFor="let link of Links">
          <g [ngSwitch]="link.sh1.shapeType "                 [ngClass]="linkisselected ? 'shapeSelected' : '' "
          (click)="linkClicked($event, link)">
          <line *ngSwitchCase = " 'circle' "
          [attr.x1]="link.sh1.position.x"
          [attr.y1]="link.sh1.position.y"
          [attr.x2]="link.sh2.position.x+(link.sh2.width)!/2"
          [attr.y2]="link.sh2.position.y+(link.sh2.height)!/2"
          [attr.stroke]="black"/>
          <line *ngSwitchCase = " 'rectangle' "
          [attr.x1]="link.sh1.position.x+(link.sh1.width)!/2"
          [attr.y1]="link.sh1.position.y+(link.sh1.height)!/2"
          [attr.x2]="link.sh2.position.x"
          [attr.y2]="link.sh2.position.y"
          [attr.stroke]="black"/>
          <text     />
         </g>
       </g>
       <g  *ngFor="let dot of dots">
        <g>
        <circle
            [attr.fill]="dot.color"
            r="20"
            [attr.cx]="100+(dot.id*40)"
            [attr.cy]="100" /></g></g>

    </svg>
</div>
